body{
	transition-duration: 2s;
}

*{
	margin: 0;
}
body{
	background-image: linear-gradient(-225deg, #65379B 25%, #886AEA 50%, #6457C6 25%);
}
#container{
	display: flex;
	margin: 0 auto;
	width: intrinsic;           
  	width: -moz-max-content;   
 	width: -webkit-max-content;
	height: 60%;
}

.bar{
	border: 0.05vw solid black;
	width:0.6vw;
	margin:0.1vw;
	background-color: #3481d3;
}
.sorts{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
input[type="button"]:hover, button:hover{
	background-color: #f8a7a7;
	cursor: pointer;
	color: #1200a4;
}
input[type="button"]:disabled, input[type="range"]:disabled{
	background-color: #ffffff;
	cursor: not-allowed;
	color: blue;
}
input[type="button"], button{
	background: white;
	border: none;
	padding: 1.3vh;
	border-radius: 9vw;
	min-width: 8vw;
	color: rgb(6, 6, 223);
	font-size: 1.2vw;
}
#nav-link2, #nav-link1{
	padding: 8px 10px 0 10px;
}

#generate{
	position: absolute;
    top: 0;
    right: 10px;
}
.nav-link{
	text-align: center;
}
li{
	text-align: center;
}